<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.leakdemo">

    <application
        android:name=".androidleak.MyApplication"
        android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".androidleak.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".androidleak.StaticActivity"
            android:label="@string/static_title" />
        <activity
            android:name=".androidleak.InnerActivity"
            android:label="@string/inner_title" />
        <activity
            android:name=".androidleak.SingletonActivity"
            android:label="@string/singleton_title" />
        <activity android:name=".androidleak.HandlerActivity"></activity>
        <activity android:name=".androidleak.ThreadActivity"></activity>
    </application>

</manifest>